<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AcceptsFiles</key>
	<true/>
	<key>AcceptsText</key>
	<false/>
	<key>Authentication</key>
	<false/>
	<key>Author</key>
	<string>Peter Fry</string>
	<key>BundledFiles</key>
	<array>
		<string>REPLACE_PWD/src</string>
		<string>REPLACE_PWD/typefi2bookxml</string>
		<string>REPLACE_PWD/vendor</string>
		<string>REPLACE_PWD/generate_bookxml</string>
		<string>REPLACE_PWD/Gemfile.lock</string>
		<string>REPLACE_PWD/Gemfile</string>
	</array>
	<key>Creator</key>
	<string>Platypus-4.8</string>
	<key>DeclareService</key>
	<false/>
	<key>Destination</key>
	<string>REPLACE_PWD/Typefi2BookXML.app</string>
	<key>DestinationOverride</key>
	<false/>
	<key>DevelopmentVersion</key>
	<false/>
	<key>DocIcon</key>
	<string></string>
	<key>Droppable</key>
	<true/>
	<key>ExecutablePath</key>
	<string>/usr/local/share/platypus/ScriptExec</string>
	<key>IconPath</key>
	<string>/Applications/Platypus.app/Contents/Resources/PlatypusDefault.icns</string>
	<key>Identifier</key>
	<string>org.peterfry.Typefi2BookXML</string>
	<key>Interpreter</key>
	<string>/bin/sh</string>
	<key>InterpreterArgs</key>
	<array/>
	<key>Name</key>
	<string>Typefi2BookXML</string>
	<key>NibPath</key>
	<string>/usr/local/share/platypus/MainMenu.nib</string>
	<key>OptimizeApplication</key>
	<true/>
	<key>Output</key>
	<string>Text Window</string>
	<key>PromptForFileOnLaunch</key>
	<false/>
	<key>RemainRunning</key>
	<true/>
	<key>Role</key>
	<string>Viewer</string>
	<key>ScriptArgs</key>
	<array/>
	<key>ScriptPath</key>
	<string>REPLACE_PWD/generate_bookxml</string>
	<key>Secure</key>
	<false/>
	<key>ShowInDock</key>
	<false/>
	<key>StatusItemDisplayType</key>
	<string>Text</string>
	<key>StatusItemIcon</key>
	<data>
	</data>
	<key>StatusItemTitle</key>
	<string>Typefi2bookxml</string>
	<key>Suffixes</key>
	<array>
		<string>*</string>
		<string>*.xml</string>
	</array>
	<key>TextBackground</key>
	<string>#ffffff</string>
	<key>TextEncoding</key>
	<integer>4</integer>
	<key>TextFont</key>
	<string>Monaco</string>
	<key>TextForeground</key>
	<string>#000000</string>
	<key>TextSize</key>
	<real>10</real>
	<key>UseXMLPlistFormat</key>
	<true/>
	<key>Version</key>
	<string>0.9.1</string>
</dict>
</plist>
